extends layout

block styles 
  title User 
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open Sans')
  script(src='/javascripts/user.js', defer)

block content
  .content 
    .body-container 
      .top-container 
      .mid-container 
      .btm-container
